@model MemberActivitiesVM;
@{
    ViewBag.Title = "Activities";
    Layout = "_Layout";
}


@foreach (var activity in Model.Activities)
{

    <div class="loop-create">

        <h3>@activity.ActivityName</h3>
        <p><strong>ID: </strong>@activity.ActivityId</p>

        @activity.IsActive


        <form asp-controller="Member" asp-action="SetStart" asp-route-id="@activity.ActivityId">
            <input id="activityId" value="@activity.ActivityId" type="hidden" />
            <button class="loop-button" onclick="conLog()">start</button>
        </form>

        <form asp-controller="Member" asp-action="SetStop" asp-route-id="@activity.ActivityId">
            <button class="loop-button">stop</button>
        </form>

        <a class="loop-button" asp-controller="Member" asp-action="Activity" asp-route-id="@activity.ActivityId">Details</a>
        <a class="loop-button" asp-controller="Member" asp-action="EditActivity" asp-route-id="@activity.ActivityId">Edit @activity.ActivityName</a>

    </div>
}

<div class="loop-create">
    <h1>Add activity</h1>
    <form asp-controller="Member" asp-action="CreateActivity">
        <div>
            <input class="loop-form-input" asp-for="CreateActivity.ActivityName" placeholder="Activity name" />
            <span class="loop-error" asp-validation-for="CreateActivity.ActivityName"></span>
        </div>
        <br />
        <div>
            <button class="loop-button">OK</button>
        </div>
    </form>
</div>
<a class="loop-button" asp-controller="Account" asp-action="EditUser">Edit User</a>
@section scripts{

    <script>
        function conLog() {
            alert("JavaScript: Activity Id: " + $('input#activityId').val());
        };

    </script>


    @*<script src="~/js/MyJavaScript.js"></script>*@
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
