@model MemberActivitiesVM[]
@{
    ViewBag.Title = "Activities";
    Layout = "_Layout";
    var submitBtn = "Create new activity";
}

<div class="loop-create">
    <h1>@ViewBag.Title</h1>
    <a class="loop-button" asp-controller="Member" asp-action="CreateActivity">@submitBtn</a>
    <a class="loop-button" asp-controller="Account" asp-action="EditUser">Edit User</a>

</div>

@foreach(var activity in Model)
{
<form asp-controller="Button" asp-action="SetStart" asp-route-id="@activity.Id">
    <label>@activity.ActivityName</label>


    <button class="loop-button">Start</button>
    <a class="loop-button" asp-controller="Member" asp-action="Activity" asp-route-id="@activity.Id">Show @activity.ActivityName</a>
    <a class="loop-button" asp-controller="Member" asp-action="EditActivity" asp-route-id="@activity.Id">Edit @activity.ActivityName</a>

    <span>@activity.Id</span>
</form>
}

@foreach(var activity in Model)
{
    <button onclick="openActivity(@activity.Id)">@activity.ActivityName</button>
    <div id=@activity.Id class="activity" style="display:none">
        <div class="loop-loop">
            <form asp-controller="Button" asp-action="SetStart" asp-route-id="@activity.Id">
                <button class="loop-start">start</button>
            </form>
            <form asp-controller="Button" asp-action="SetStop" asp-route-id="@activity.Id">
                <button class="loop-stop">stop</button>
            </form>
        </div>
    </div>
}

@section scripts{
    <script>
        function openActivity(activityId) {
            var x = document.getElementsByClassName("activity");
            for (var i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(activityId).style.display = "block";
        }
    </script>
}
