@model MemberIndexVM
@{
    Layout = "_Layout";
    ViewBag.Title = "Members";
    var submitBtn = "Skapa ny aktivitet";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>

    <h1>@ViewBag.Title</h1>
    <p>
        Welcome member - you are logged in as: @Model.Username
    </p>
    <a class="btn btn-primary btn-sm" asp-action="Create">@submitBtn</a>
    <a class="btn btn-primary" asp-controller="Member" asp-action="Activities">Visa aktiviteter</a>
    <a class="btn btn-primary btn-sm" asp-controller="Member"asp-action="Edit"asp-route-id="@Model.Username">Edit</a>


</body>
</html>

